[LOGS]
handler_path:
level:

[TenantA]
hadoop: infra_url

flink: infra_url

hadoop_token: *********************

flink_token: *********************

[TenantB]
hadoop: infra_url

flink: infra_url

hadoop_token: *********************

flink_token: *********************

[PERIOD]
start_date: 2018-02-01
end_date: 2018-02-12

[SaveLocation]
path: ./generated_reports/